@import 'src/app/styles/_variables.scss';

.event-card {
  width: $event-card-width;
  height: $event-card-height;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
  opacity: 1;

  p {
    font-size: 0.7rem;
    color: #666;
    margin: 0;
  }

  .event-title {
    text-align: center;
    height: 2rem;
    padding: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .event-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

    .event-location {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;

      .map {
        width: 1rem;
        height: 1rem;

        mat-icon {
          font-size: 1rem;
        }
      }
    }
  }

  .event-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
}
