.event-card {
  width: 15rem;
  height: 25rem;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
  opacity: 1;

  .event-title {
    text-align: center;
    height: 2rem;
    padding: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .event-time {
    text-align: left;
    padding: 0 0.5rem;

    p {
      font-size: 0.8rem;
      color: #666;
    }
  }

  .event-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }

  &:hover {
    transform: scale(1.02);
    opacity: 0.9;
    z-index: 1;
  }

  &:active {
    transform: scale(0.95);
    opacity: 0.8;
    z-index: 1;
  }
}
